.main-content {
  width: 85%;
  min-height: 85vh;
  border-radius: 50px;
  background-color: white;
  color: black;
  box-sizing: border-box;
  padding: 20px;
  text-align: right;
  overflow-y: auto;
}
.operate-type {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticket-details {
  text-align: center;
  width: 100%;
}

.container-table{
  width: auto !important;
}

.setting-holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.setting-holder-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}